# --- CẤU HÌNH TẠO ẢNH (AUTOIMAGE) ---
TOGETHER_API_KEY=your_together_api_key_here

# --- CẤU HÌNH TẠO ÂM THANH (AUTOAUDIO) ---
TTS_PROVIDER=VIMIX # Chọn VIMIX hoặc ELEVENLABS
VIMIX_API_KEY=your_vimix_api_key_here
ELEVENLABS_API_KEY=your_elevenlabs_api_key_here
ELEVENLABS_VOICE_ID=aN7cv9yXNrfIR87bDmyD
